.banner {
    height: 100vh;
    overflow: hidden;
    position: relative;
    padding: 2rem;
    nav {
        padding: 2rem 0;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        .banner-logo {
            width: 42px;
            @media (max-width: 450px) {
                background-color: var(--gray);
            }
            img {
                transition: transform 1s;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .menu-banner {
            position: absolute;
            background-color: var(--orange);
            width: 30px;
            height: 30px;
            clip-path: polygon(0 0, 0 0, 30% 50%, 0 100%, 0 100%, 50% 70%, 100% 100%, 100% 100%, 70% 50%, 100% 0, 100% 0, 50% 30%);
            transform: rotate(45deg);
            right: -200px;
            opacity: 0;
            transition: right .5s;
            cursor: pointer;
            z-index: 100;
            @media (max-width: 700px) {
                right: 0;
                opacity: 1;
            }
        }
        ul {
            .active {
                border-bottom: 2px solid var(--blue);
                a {
                    color: var(--orange);
                }
                &:hover {
                    background-color: unset;
                    border-radius: unset;
                }
                &:hover a {
                    color: var(--orange);
                }
            }
            transition: all .5s;
            list-style: none;
            display: flex;
            gap: 1rem;
            @media (max-width: 700px) {
                position: absolute;
                transform: translateX(800px);
            }
            li {
                padding: .5rem;
                transition: all .5s ease;
                &:hover {
                    padding: .5rem;
                    background-color: var(--babyblue);
                    border-radius: 5px;
                    cursor: pointer;
                }
                &:hover a {
                    color: var(--gray);
                }
                a {
                    text-decoration: none;
                    color: var(--darkblue);
                }
            }
        }
    }
    .banner-content {
        height: 60vh;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h1 {
            margin-left: -1rem;
            span {
                color: var(--orange);
            }
             @media (max-width: 850px) {
                margin-left: -.5rem;
            }
             @media (max-width: 450px) {
                margin-left: unset;
                font-size: 70px;
                background-color: var(--gray);
                margin-left: 2.3rem;
            }
        }
        p {
            font-size: clamp(1.125rem, 0.8698rem + 1.2565vw, 1.875rem);
            margin-top: 0.5rem;
            color: var(--grayblue);
            line-height: 1.2;
            @media (max-width: 450px) {
                background-color: var(--gray);
            }
        }

        h2 {
            @media (max-width: 450px) {
                background-color: var(--gray);
            }
        }

        .content {
            @media (max-width: 450px) {
                padding-bottom: 1rem;
            }
        }
       
        @media (max-width: 450px) {
                width: 100%;
                height: 70vh;
                justify-content: flex-end;
                text-align: center;
            }

            .btn-group {
                display: flex;
                gap: 1rem;
                justify-content: space-between;
                @media (max-width: 600px) {
                    flex-direction: column;
                    .btn {
                        width: 100%;
                    }
                }
                @media (max-width: 450px) {
                    .btn:first-of-type:not(:hover) {
                        background-color: var(--gray);
                    }
                }
            }
        }
    .side-profile {
        z-index: -1;
        position: absolute;
        right: 0;
        top: 60px;
        // filter: invert(1);
        @media (max-width: 1600px) {
            right: -5%;
        }
        @media (max-width: 1350px) {
            right: -15%;
        }
        @media (max-width: 1280px) {
            right: -20%;
            bottom: 0;
        }
        @media (max-width: 1100px) {
            right: -30%;
        }

        @media (max-width: 700px) {
            top: unset;
            height: 800px; 
            object-fit: cover;
            object-position: 40% 50%;
        }
        @media (max-width: 450px) {
            left: 0;
            bottom: 0;
            height: 900px; 
        }
    }
}