.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 60px;
    border-radius: 10px;
    font-size: clamp(1.25rem, 1.1437rem + 0.5236vw, 1.5625rem);
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.4);
    font-weight: bold;
    transition: all .5s ease;
    &:hover {
        background-color: #d7d8d8;
        color: var(--darkblue);
    }
}

.btn-primary {
    color: var(--blue);
    border: 4px solid var(--blue);
    transition: all .5s ease;
    &:hover {
        background-color: var(--darkblue);
        color: var(--gray);
        border: none;
    }
}

.btn-secondary {
    background-color: var(--orange);
    color: var(--gray);
    border: none;
    font-weight: bold;
    transition: all .5s ease;
    &:hover {
        color: var(--gray);
        background-color: var(--babyblue);
    }
}